@media screen and (min-width: 800px) {
    #blog-main {
	display: grid;
	grid-template-areas: "aside blog";
	grid-template-rows: 1fr;
	grid-template-columns: min(25%, 200px) 1fr;
	overflow: auto;
    }

    #blog-aside {
	grid-area: aside;
	background-color: #333;
	color: #ddd;
	overflow: scroll;
    }

    #blog-aside::-webkit-scrollbar {
	display: none;
    }

    #blog-aside h5 {
	margin: 24px;
    }

    #blog-aside h5:hover {
	cursor: pointer;
    }

    #blog-content {
	grid-area: "blog";
	overflow: scroll;
    }

    #blog-content::-webkit-scrollbar {
	display: none;
    }
}

@media screen and (max-width: 799px) {
    #blog-aside {
	display: none;
    }
}

.post-content {
    display: block;
    padding: 40px;
    margin-top: 10px;
    text-align: left;
    background-color: lightgreen;
    color: black;
}

.post-button {
    margin: 4px;
}

.post-content img {
    display: block;
    object-fit: contain;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.post {
    background-color: teal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    margin: 48px 5%;
    border-radius: 14px;
}

.post h1:hover {
    cursor: pointer;
}

@media screen and (max-width: 799px) {
    .post-content {
	padding: 10px;
    }

    .post {
	margin: 48px 8px;
    }
}
