#home-content {
    min-height: calc(90% - 100px);
    margin: 2%;
    padding: 50px 5%;
    background-color: grey;
    border-radius: 7px;
}

#home-content p {
    display: flex;
    align-items: center;
    margin: 10px;
}

#home-content > p img {
    display: inline-block;
    max-height: 100px;
    width: auto;
    margin: auto 4px;
}

#home-content > h1 img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 20px auto;
}

@media screen and (max-width: 800px) {
    #home-content img {
	width: 100%;
    }
}
