{% extends "raven/layout" %}

{% block title %}Characters{% endblock title %}

{% block style %}
<style>
  header {
      background-image: none;
      background-color: pink;
  }
</style>
{% endblock style %}

{% block content %}
{% endblock content %}

{% block script %}
{% endblock script %}
